@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Manrope", sans-serif;
  font-weight: normal;
  color: #000;
  background: #fff; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  width: 100%;
  height: 59px;
  background: #fff;
  color: #000000;
  border: none;
    border-radius: 4px; }
  input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #000; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #000; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #000; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #000; }

label {
  display: block;
  width: 100%; }

button, .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Manrope", sans-serif;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  background: transparent;
  border: none;
    border-radius: 0;
  font-weight: 500;
  font-size: 16px; }
  button:hover, button:focus, .btn:hover, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn-yellow {
  background: #FAE201;
  color: #000;
  padding: 11px 33px; }
  .btn-yellow:hover {
    background: #FFCC03;
    color: #000; }

.btn {
  border-radius: 30px;
  height: 52px; }

.container {
  max-width: 1200px; }

h1 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%; }

h2 {
  width: 100%;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase; }

h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold; }

.box-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px; }

.mb-30 {
  margin-bottom: 30px; }

header {
  padding: 0 0 5px;
  background: #fff; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto; }
  .menu li {
    margin: 0 25px 0 0; }
    .menu li:last-child {
      margin: 0; }
    .menu li a {
      color: #000; }
      .menu li a:hover {
        color: #FFCC03; }

.phone {
  color: #000;
  font-size: 20px;
  font-weight: 800; }
  .phone:hover {
    color: #FFCC03; }

.links-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 18px;
  border-radius: 30px;
  background: #F2F2F2;
  font-size: 15px;
  color: #000;
  margin: 0 0 0 15px; }
  .links-message:hover {
    color: #000;
    background: #FFCC03; }
  .links-message__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 7px 0 0;
    width: 28px;
    height: 29px; }

.mobile-menu {
  display: none;
  position: fixed;
  z-index: 7;
  left: 50%;
  top: 72px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: #fff;
  border-radius: 15px;
  max-width: 290px;
  width: 100%;
  padding: 33px 23px 49px; }
  .mobile-menu .menu {
    margin: 0 auto 17px;
    font-size: 16px;
    font-weight: normal;
    text-align: center; }
    .mobile-menu .menu li {
      width: 100%;
      margin: 0 auto 20px; }
      .mobile-menu .menu li:last-child {
        margin: 0 auto; }
  .mobile-menu .phone-group {
    text-align: center;
    margin: 0 auto 23px; }
  .mobile-menu .phone {
    font-size: 20px; }
  .mobile-menu .links-message {
    margin: 0;
    font-size: 15px; }

.btn-close-menu {
  width: 18px;
  height: 18px;
  position: fixed;
  top: -45px;
  left: 0;
  cursor: pointer;
  stroke: #fff;
  fill: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); }

.btn-burger {
  width: 24px;
  height: 21px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
  cursor: pointer; }
  .btn-burger span {
    width: 100%;
    display: block;
    height: 2px;
    background: #000; }

.home {
  background: #FFCC03 url("../img/circle.svg") no-repeat center;
    background-size: cover;
  padding: 70px 0 124px; }

.home-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 450px;
  width: 100%; }

.home-content {
  width: calc(100% - 450px);
  max-width: 600px;
  padding: 0 0 0 83px; }
  .home-content .box-text {
    margin: 10px 0 22px;
    font-size: 20px;
    line-height: 30px; }
  .home-content .btn {
    font-size: 20px;
    height: 59px;
    max-width: 204px; }

.advantages {
  margin: -50px 0 65px; }

.advantages-box {
  height: 170px;
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 10px; }
  .advantages-box img {
    max-width: 100%; }

.result-work {
  padding: 0 0 60px; }
  .result-work h2 {
    margin: 0 0 31px; }
  .result-work .btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 32px 0 0; }

.result-work__video {
  width: 100%;
  height: 471px;
  overflow: hidden;
  border-radius: 20px; }
  .result-work__video iframe {
    width: 100%;
    height: 100%; }

.result-work-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 13px;
  font-size: 16px;
  font-weight: 500; }
  .result-work-box__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    background: #FAE201;
    margin: 0 15px 0 0;
    width: 58px;
    height: 58px;
    min-width: 58px; }

.about {
  background: #FFCC03 url("../img/circle2.svg") no-repeat center bottom;
    background-size: cover;
  padding: 60px 0 58px; }
  .about h2 {
    margin: 0 0 10px; }

.about-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 301px;
  overflow: hidden;
  border-radius: 20px; }
  .about-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.category {
  padding: 46px 0 30px; }
  .category h2 {
    margin: 0 auto 28px; }

.category-box {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  text-align: center;
  background: #FFCC03;
  padding: 27px 30px; }
  .category-box__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 13px;
    width: 94px;
    height: 94px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    padding: 20px; }
  .category-box h3 {
    margin: 0 auto 5px; }

.category-work {
  background: #F8F8F8;
  padding: 51px 0 33px; }
  .category-work h2 {
    margin: 0 auto 50px;
    max-width: 800px; }

.category-work-box {
  width: 20%;
  padding: 0 12px;
  margin: 0 auto 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 500; }
  .category-work-box__text {
    max-width: 170px;
    margin: 13px auto 0;
    width: 100%; }
  .category-work-box__img {
    width: 100%;
    height: 135px;
    -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .category-work-box__img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }

.category-work-row {
  margin: 0 -12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.partner {
  padding: 46px 0 28px;
  background: #FFCC03 url("../img/circle2.svg") no-repeat center;
    background-size: cover; }
  .partner h2 {
    margin: 0 auto 10px; }

.partner-slider .slick-list {
  margin: 0 -15px; }

.partner-slider .slick-slide {
  padding: 0 15px; }

.partner-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  height: 109px;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 10px 13px;
  margin: 45px auto; }
  .partner-box img {
    max-height: 100%; }

.slick-slider {
  width: 100%; }

.slick-slide {
  outline: none; }

.slick-arrow {
  position: absolute;
  z-index: 1;
  opacity: 1;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33px;
  height: 33px;
  padding: 5px 10px;
  fill: #fff;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%); }

.slick-prev {
  left: -41px; }

.slick-next {
  right: -41px; }

.footer-top {
  padding: 15px 0 21px; }

.footer-bottom {
  background: #FFCC03;
  text-align: center;
  padding: 7px 0 8px; }

.copyright {
  line-height: 30px; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1240px) {
  .slick-prev {
    left: 0; }
  .slick-next {
    right: 0; }
  .partner-slider {
    padding: 0 30px; } }

@media only screen and (max-width: 1200px) {
  .menu li {
    margin: 0 15px 0 0; }
  .phone {
    font-size: 16px; }
  .logo {
    max-width: 100px; }
  header .links-message {
    padding: 6px 10px;
    font-size: 14px; }
    header .links-message__icon {
      width: 20px;
      height: 20px;
      margin: 0 10px 0 0; }
  .advantages-box {
    width: 100%;
    height: 120px;
    padding: 20px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .home-img {
    max-width: 350px; }
  .home-content {
    width: calc(100% - 350px);
    padding: 0 0 0 20px; }
    .home-content .box-text {
      font-size: 16px;
      line-height: normal; }
    .home-content .btn {
      font-size: 16px;
      height: 50px; }
  h1 {
    font-size: 40px; }
  header .menu, footer .menu {
    font-size: 12px; }
  .logo {
    max-width: 80px; }
  .phone {
    font-size: 14px; }
  header .links-message {
    background: transparent;
    border-radius: 0;
    padding: 0; }
    header .links-message__text {
      display: none; }
    header .links-message__icon {
      margin: 0;
      width: 32px;
      height: 33px; }
  .result-work__content {
    margin: 22px auto 0; }
    .result-work__content h2 {
      text-align: center;
      margin: 0 auto 20px; }
    .result-work__content .btn {
      margin: 0 auto 0; }
  .result-work-box {
    margin: 0 0 26px; }
  .about {
    padding: 22px 0 47px; }
    .about h2 {
      text-align: center;
      margin: 0 auto 6px; }
    .about .box-text {
      margin: 0 auto 20px;
      text-align: center; }
  .footer-top {
    padding: 26px 0 28px; }
  footer .logo {
    max-width: 130px;
    margin: 0 auto; }
  footer .menu {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 18px auto 20px;
    font-size: 16px; }
    footer .menu li {
      margin: 0 auto 15px; }
      footer .menu li:last-child {
        margin: 0 auto; }
  footer .phone-group {
    margin: 0 auto 23px;
    font-size: 20px;
    width: 100%;
    text-align: center; }
  footer .links-message {
    margin: 0 auto; }
  footer .phone {
    font-size: 20px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .advantages-box {
    height: 90px; }
  .home-img {
    max-width: 266px; }
  .home-content {
    width: calc(100% - 266px); }
  h1 {
    font-size: 30px; }
  .home {
    padding: 33px 0 59px; }
    .home .container {
      position: relative;
      z-index: 1; }
    .home .box-text {
      margin: 9px auto 17px;
      font-size: 16px; }
    .home .btn {
      height: 49px;
      max-width: 160px;
      font-size: 16px;
      padding: 0; }
  header {
    padding: 3px 0 9px; }
    header .menu, header .phone {
      display: none; }
    header .logo {
      margin: 0 auto; }
  .logo {
    max-width: 108px; }
  .btn-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .links-message {
    margin: 0; }
  .advantages {
    margin: -65px 0 15px; }
  .advantages-slider {
    margin: 0 -15px;
    width: calc(100% + 30px); }
    .advantages-slider .slick-slide {
      width: 90px;
      padding: 0;
      margin: 30px 10px 30px 0; }
  .advantages-box {
    width: 90px;
    height: 90px;
    padding: 20px; }
  h2 {
    font-size: 26px; }
  .category-slider {
    margin: 0 -15px;
    width: calc(100% + 30px);
    padding-left: 15px; }
    .category-slider .slick-slide {
      width: 191px;
      margin: 0 9px 0 0;
      padding: 0; }
  .category-box {
    height: 187px;
    font-size: 14px;
    width: 100%;
    padding: 15px 7px 22px;
    border-radius: 15px; }
    .category-box__icon {
      padding: 12px;
      width: 55px;
      height: 55px;
      margin: 0 auto 11px; }
    .category-box h3 {
      font-size: 16px;
      margin: 0 auto; }
  .category {
    padding: 24px 0 34px; }
    .category h2 {
      margin: 0 auto 23px; }
  .category-work {
    padding: 19px 0 27px; }
    .category-work h2 {
      margin: 0 auto 11px; }
  .category-work-box {
    width: 190px;
    padding: 0;
    margin: 0 10px 0 0; }
    .category-work-box__text {
      margin: 10px auto 0; }
  .category-work-row {
    width: calc(100% + 30px);
    margin: 0 -15px;
    padding-left: 15px; }
  .partner-box {
    height: 109px;
    width: 100%;
    margin: 7px 0 20px; }
  .partner-slider {
    width: calc(100% + 30px);
    margin: 0 -15px;
    padding: 0 0 0 15px; }
    .partner-slider .slick-slide {
      margin: 0 10px 0 0;
      width: 190px;
      padding: 0; }
    .partner-slider .slick-list {
      margin: 0; }
  .partner {
    padding: 34px 0 24px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  .home {
    position: relative;
    z-index: 1;
    background: #FFCC03; }
    .home:before {
      content: '';
      position: absolute;
      background: url("../img/circle-mobile1.svg") no-repeat center;
        background-size: contain;
      width: calc(100% + 14px);
      height: 335px;
      right: 0;
      top: 50%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      z-index: -1; }
  .home-content {
    padding: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
    text-align: center; }
    .home-content .btn {
      margin: 0 auto; }
  .home-img {
    margin: 24px auto 0; }
  .advantages {
    position: relative;
    z-index: 1; }
  .result-work {
    padding: 0 0 40px; }
  .result-work-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 14px;
    line-height: 20px; }
    .result-work-box br {
      display: none; }
    .result-work-box__icon {
      margin: 0 auto 1px; }
    .result-work-box__text {
      width: 100%;
      max-width: 150px;
      margin: 0 auto; }
  .result-work__video {
    height: 236px;
    border-radius: 15px; }
  .about {
    position: relative;
    background: #FFCC03; }
    .about:before {
      content: '';
      position: absolute;
      background: url("../img/circle-mobile2.svg") no-repeat center;
        background-size: contain;
      width: 256px;
      height: 434px;
      right: 14px;
      bottom: 0; }
  .about-img {
    height: 220px; }
  .category-work h2 {
    max-width: 202px; }
  .partner {
    position: relative;
    background: #FFCC03; }
    .partner:before {
      content: '';
      position: absolute;
      background: url("../img/circle-mobile3.svg") no-repeat center;
        background-size: contain;
      width: 37px;
      height: 254px;
      right: 14px;
      bottom: 26px; } }

@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 420px) {
  .about-img {
    height: 156px;
    width: calc(100% + 20px);
    margin: 0 -10px; } }
